<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lyc.iping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>    
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ipin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="lyc.iping.Appstart" android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lyc.iping.LoginActivity" android:label="@string/app_name" android:windowSoftInputMode="adjustResize|stateVisible" />       
        <activity android:name="lyc.iping.RegisterActivity" android:label="@string/app_name" />
        
        <activity android:name="lyc.iping.InfoListActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.DiscussActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.NearByActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.SettingActivity" android:theme="@style/Anim_style2" />        
        
        <activity android:name="lyc.iping.EditActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.ReleasedActivity" android:theme="@style/Anim_style2" />
        
        <activity android:name="lyc.iping.ChatActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.GroupInfoActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.MemberInfoActivity" android:theme="@style/Anim_style2" />
        <activity android:name="lyc.iping.MemberInfoHeadActivity" android:theme="@style/Anim_style2" /> 
               
        <activity android:name="lyc.iping.SetPasswordActivity" android:theme="@style/Anim_style2" />         
        <activity android:name="lyc.iping.SetTelephoneActivity" android:theme="@style/Anim_style2" />       
        <activity android:name="lyc.iping.SetAdviceActivity" android:theme="@style/Anim_style2" />         
        <activity android:name="lyc.iping.AboutActivity" android:theme="@style/Anim_style2" />
        
        <service android:name="lyc.iping.service" />
    </application>

</manifest>